body{
    font-family: sans-serif;
    background-color: red;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    height: 100%;
    
}

table, .configurador, #tempo{
    width: 500px;
    margin: auto;
    border:none;
    border-collapse: collapse; /*faz as linhas da tabela se juntarem*/
}

    table td{
        border: 5px dotted #FFFFFF;
        height: 166px;
        width: 166px;
        text-align: center;
        font-size: 96px;
        background-color:rgb(135,206,250);
        color:#FFF;
    }

.configurador{
    text-align: center;
    border: none;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: bold;
}
    .configurador input{
        padding: 10px;
    }

    .configurador span{
        background-color:cornflowerblue;
        padding: 10px 15px;
        border: 1px solid cornflowerblue;
        vertical-align:middle;
    }

.configurador button{
    padding: 7px 15px;
    background-color: cornflowerblue;
    border: 1px dotted cornflowerblue;
    color: #FFF;
    font-weight: bold;
}

.msg{
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: #FAFAFA;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid lightgray;
    color: gray;
}

#tempo{
    background-color: azure;
    text-align: right;
    color: rgb(70,130,180);
    font-weight: bold;
}